<% if @books.present? %>
  <% @books.each do |book| %>
    <div class="list">
      <%= link_to (image_tag(book.medium_image_url)), book.item_url %>
      <%= book.title %>
      <%= book.author %>
      <%= link_to "とうろく", books_path, class: "button is--warning is-light" %>
      </div>
  <% end %>
<% end %>