<div class="container has-background-info-light" >
   <h1 class="subtitle is-5">みんなの本だな</h1>
    <div class="columns is-multiline">
      <% @books.each do |book| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-image">
                <%= image_tag book.image_url%>
            </div>
            <div class="card-title">
              <span><%= book.title %><br><%= book.author %></span>
              <br><%= link_to 'けす', book_path(book.id), method: :delete %>
            </div>
          </div>
       </div>
      <% end %>
    </div>
</div>