<h1>ほんのけんさく<h1>
<div class="content">
  <div id="sarch-box">
    <%= form_tag('/books/search', method: :get) do %>
      <%= text_field_tag :book, "", id: "book_search", name: "keyword", placeholder: "ほんのタイトル" %>
      <button title="けんさく" type="submit">けんさく</button>
    <% end %>
  </div>
</div>

<h2>けんさくけっか</h2>
<div class="content">
  <div id="book_list">
    <%= render partial: 'book_list' %>
  </div>
</div>
</div>